@model Web.Models.Course.CourseCreateViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Create Course</title>
    <link rel="stylesheet" href="~/css/create-and-edit.css" />
</head>
<body>
<p align="left">
    <button onclick="navigateToIndex('Course')"><img src="~/Assets/Icons/back.svg" alt="Back to List"/>  Back to Courses</button>
</p>
<h1 align="center">Create Course</h1>
<form asp-action="Create" method="post" id="create-course-form">
    <div>
        <label>Name</label>
        <input asp-for="Name" class="input"/>
    </div>
    <div>
        <label>Description</label>
        <input asp-for="Description" class="input"/>
    </div>
    <div>
        <label>StartDate</label>
        <input asp-for="StartDate" type="date" class="input"/>
    </div>
    <div>
        <label>EducatorId</label>
        <input asp-for="EducatorId" class="input"/>
    </div>
    <div>
        <button type="submit"><img src="~/Assets/Icons/accept.svg" alt="Create"/>  Create</button>
    </div>
</form>
<p><button type="submit" onclick="clearInputs('create-course-form')">Clear</button></p>
</body>
<script src="~/Scripts/navigate-to-index.js"></script>
<script src="~/Scripts/clear-inputs.js"></script>
<script src="~/Scripts/highlight.js"></script>
</html>
    